.chat__content {
  width: 100%;
  position: relative;
  height: calc(100vh - 60px);
  .chat_content--list-message {
    width: 100%;
    height: calc(100vh - 160px);
    overflow: auto;
  }

  .q-message-sent {
    display: flex;
    justify-content: flex-end;
  }
  .q-message-container {
    max-width: 60%;
    .q-message-text {
      width: 100%;
    }
  }
}
.input__send-message {
  width: 90%;
  display: flex;
  justify-content: "flex-start";
  align-items: "center";
  position: absolute;
  max-height: 200px;
  textarea {
    max-height: 160px;
  }
  bottom: 10px;
  .input__send-message--input {
    width: 100%;
  }
}
.me {
  background: "#26A69A";
}
.you {
  background: "#1976D2";
}

.chat__item-friend {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}
.message-inline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-item__time {
  font-size: 12px;
}

.tab_profile--icon {
  margin: 10px 20px;
}

.min-width-200 {
  min-width: 150px;
}